:root {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    --black: #212121;
    --black-55: #737373;
    --black-35: #B3B3B3;
    --black-20: #CCC;
    --green-primary: #289646;
    --green-light: #40AB5E;
    --yellow-primary: #ffae00;
    --yellow-light: #fbb934;
    --stroke: #E5E2E1;
    --background: #F5F2F1;
    --white: #fff;

    color-scheme: light;
    color: var(--black);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*@font-face {*/
/*    font-family: 'Onest';*/
/*    src: url('/fonts/OnestRegular1602-hint.ttf') format('truetype');*/
/*    font-weight: 100 900;*/
/*    font-style: normal;*/
/*}*/

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Onest', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    overflow-x: hidden;
    width: 100%;
    /*scroll-margin-top: 7rem;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    /*text-align: justify;*/
    margin-block-start: 0;
    margin-block-end: 0;
}

h1, h2, h3, h4 {
    font-family: 'Geologica', sans-serif;
    font-size: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 3.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.06375rem;
}

h2 {
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.055rem;
}

h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subtitle {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.button {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.button.notification {
    border: 2px var(--green-light, #40AB5E) solid;
    color: var(--green-light);
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;


    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button.notification:hover {
    /*opacity: 0.5;*/
    background: var(--green-light, #40AB5E);
    color: white;
}

.el-notification {
    width: 300px !important;
}

.el-notification .el-notification--success {
    color: var(--green-light) !important;
}

.small-text-1 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black-55)
}

.small-text-2 {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black-55)
}

.loading {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    height: 15rem;
    align-items: center;
}

.spinner {
    position: relative;
    width: 98px;
    height: 98px;
    /*margin-left: calc(50vw - 45px);*/
    /*margin-top: calc(50vh - 45px);*/
    overflow: hidden;

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        border-width: 4px;
        border-style: solid;
        border-radius: 50%;
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes anti-rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


/* spinner-1 styles */
.spinner.spinner-1 {
    &:before {
        width: 90px;
        height: 90px;
        border-bottom-color: var(--green-light);
        border-right-color: var(--green-light);
        border-top-color: rgba(33, 33, 33, 0);
        border-left-color: rgba(33, 33, 33, 0);
        top: 0px;
        left: 0px;
        -webkit-animation: rotate-animation 1s linear infinite;
        -moz-animation: rotate-animation 1s linear infinite;
        animation: rotate-animation 1s linear infinite;
    }

    &:after {
        width: calc(90px * 0.8);
        height: calc(90px * 0.8);
        border-bottom-color: var(--green-light);
        border-right-color: var(--green-light);
        border-top-color: rgba(33, 33, 33, 0);
        border-left-color: rgba(33, 33, 33, 0);
        top: calc((90px - 90px * 0.8) / 2);
        left: calc((90px - 90px * 0.8) / 2);
        -webkit-animation: anti-rotate-animation 0.85s linear 0s infinite;
        -moz-animation: anti-rotate-animation 0.85s linear 0s infinite;
        animation: anti-rotate-animation 0.85s linear 0s infinite;
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1 {
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 3.15rem */
        letter-spacing: -0.0525rem;
    }

    h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.04rem;
    }

    h3, h4 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    .subtitle {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .button {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .small-text-1, .small-text-2 {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

@media screen and (max-width: 1000px) {
    body {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1 {
        font-size: 2.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 2.55rem */
        letter-spacing: -0.0425rem;
    }

    h2, h3 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.03rem;
    }

    h4 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .subtitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .button {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .small-text-1, .small-text-2 {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .loading {
        padding-top: 11rem;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1 {
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 2.25rem */
        letter-spacing: -0.0375rem;
    }

    h2, h3 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.025rem;
    }

    h4 {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .subtitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .button {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .small-text-1, .small-text-2 {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .loading {
        padding-top: 9rem;
    }

    .spinner {
        width: 78px;
        height: 78px;
    }

    /* spinner-1 styles */
    .spinner.spinner-1 {
        &:before {
            width: 70px;
            height: 70px;
        }

        &:after {
            width: calc(70px * 0.8);
            height: calc(70px * 0.8);
            top: calc((70px - 70px * 0.8) / 2);
            left: calc((70px - 70px * 0.8) / 2);
        }
    }
}