:root {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    --black: #212121;
    --black-55: #737373;
    --black-35: #B3B3B3;
    --black-20: #CCC;
    --green-primary: #289646;
    --green-light: #40AB5E;
    --stroke: #E5E2E1;
    --background: #F5F2F1;

    color-scheme: light;
    color: var(--black);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*@font-face {*/
/*    font-family: 'Onest';*/
/*    src: url('/fonts/OnestRegular1602-hint.ttf') format('truetype');*/
/*    font-weight: 100 900;*/
/*    font-style: normal;*/
/*}*/

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Onest', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    overflow-x: hidden;
    width: 100%;
    /*scroll-margin-top: 7rem;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    text-align: justify;
}

h1, h2, h3, h4 {
    font-family: 'Geologica', sans-serif;
    font-size: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 3.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.06375rem;
}

h2 {
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.055rem;
}

h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subtitle {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.button {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.small-text-1 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.small-text-2 {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 960px) {
    body {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1 {
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 3.15rem */
        letter-spacing: -0.0525rem;
    }

    h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.04rem;
    }

    h3, h4 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    .subtitle {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .button {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .small-text-1, .small-text-2 {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

@media screen and (max-width: 640px) {
    body {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1 {
        font-size: 2.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 2.55rem */
        letter-spacing: -0.0425rem;
    }

    h2, h3 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.03rem;
    }

    h4 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .subtitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .button {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .small-text-1, .small-text-2 {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (max-width: 360px) {
    body {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1 {
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 2.25rem */
        letter-spacing: -0.0375rem;
    }

    h2, h3 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.025rem;
    }

    h4 {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .subtitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .button {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .small-text-1, .small-text-2 {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}