{%extends 'shop/base.html'%}


{%block content%}
<main>
    <div style="display:none" id="speccode">
        КОРОБКИ
        ДЛЯ ПОДАРКОВ
        В КАЗАНИ
        Коробки для посылок
        в Казани
        Передать товар на склад маркетплейса легко, если он упакован в соответствующие требованиям коробки
        Пакеты с бегунком
Пакеты для маркетплейсов
Белые матовые пакеты
Пакеты с застежкой
Пакеты для фасовки
Пакеты для товара
Пакеты для вайлдберриз
Скотч 66 метров
Скотч 150 метров
Скотч широкий
Скотч Нова Ролл
Скотч осторожно хрупкое
Скотч осторожно стекло
Скотч 50 мм
Скотч 75 мм
Диспенсер для скотча
Диспенсер для скотча Unibob
Бумажный наполнитель крафт
Бумажный наполнитель цветной
Бумажный наполнитель белый
Воздушно пузырьковая пленка
Пузырчатая пленка
Пленка воздушно пузырчатая
Пленка воздушно пузырьковая 100 метров
Пленка воздушно пузырьковая 50 метров
Пленка воздушно пузырьковая 25 метров
Пленка воздушно пузырьковая 10 метров
Пленка воздушно пузырьковая 1,2 метра
Пленка воздушно пузырьковая 0,5 метров
Термопринтер для печати этикеток
Принтер для этикеток
Принтер для маркировки
Принтер для маркетплейсов
    </div>

    <div class="container">
            <div class="row wow fadeIn">

                {% for c in cat %}
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <a href="{% url 'all_product_category' slug=c.slug%}"><img src="{{ c.image_cat_thumbnail.url }}"
                                                                         class="card-img-top"
                                                                         height="210"></a>

                            <div class="mask rgba-white-slight"><h4 class="text-center">
                                {{c.name}}</h4></a></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="{% url 'all_product_category' slug=c.slug%}" class="grey-text">
                                <h5>
                                    <button type="button" class="btn btn-warning">Посмотреть товары</button>
                                </h5>
                            </a>


                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>
    </div>

</main>

{%endblock%}

